// global colors
// $orange: #F69800;
// $yellow: #F5FF3B;
// $lightblue: #84A9C0;
// $purple: #6A66A3;
// $darkblue: #102E4A;

footer {
    margin-top: 20px;

    .mainFooter {
        background-color: $darkblue;
        color: white;
        padding: 10px 0;

        .wrapper1200 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size: 18px;

            h3 {
                font-weight: bold;
                font-size: 20px;
                padding: 10px 0;
            }
    
            .contactUs {
                a {
                    color: white;
                }
            }
            .newsletter {
                form {
                    input {
                        width: 100%;
                        margin: 3px 0;
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid black;
                    }
                }
            }
            .why {
    
            }
        }
    }

    .footerIcons {
        text-align: center;
        background-color: $lightblue;
        padding: 10px 0;

        img.socialIcon {
            max-width: 50px;
            max-height: 50px;
            margin: 0 5px;
        }
    }

    .copyrightArea {
        text-align: center;

        p { padding: 20px; }
    }
}