// global colors
// $orange: #F69800;
// $yellow: #F5FF3B;
// $lightblue: #84A9C0;
// $purple: #6A66A3;
// $darkblue: #102E4A;

header {
    background-color: white;

    .wrapper1200 {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .logo {
            margin: 10px;
            img {
                width: 140px;
            }
        }
        div.phone {
            font-size: 30px;
            font-weight: bold;
            margin: 10px;
        }
    }
}