// global colors
// $orange: #F69800;
// $yellow: #F5FF3B;
// $lightblue: #84A9C0;
// $purple: #6A66A3;
// $darkblue: #102E4A;

header {

    .wrapper1200 {

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        img.logo {
            width: 150px;
            margin: 10px;
        }
        div.phone {
            font-size: 30px;
            font-weight: bold;
            margin: 10px;
        }
    }
}