// global colors
// $orange: #F69800;
// $yellow: #F5FF3B;
// $lightblue: #84A9C0;
// $purple: #6A66A3;
// $darkblue: #102E4A;

nav {
    background-color: $darkblue;
    color: white;
    font-weight: bold;
    font-size: 23px;
    height: 50px;
    
    .wrapper1200 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        ul {
            display: flex;
            height: 100%;
            position: relative;

            a {
                color: white;
                text-decoration: none;
            }
            li { 
                padding: 12px;
            }
            li:hover { 
                background-color: lighten($darkblue, 20%); 
                cursor: pointer;
            }
            .dropdown {
                display: grid;
                grid-template-columns: 1fr;
                position: relative;

                ul {
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: $lightblue;
                    z-index: 938249839408293849283482;
                    position: absolute;
                    height: 100px;
                    top: 50px;
                    left: 0;
                    visibility: hidden;

                    li {
                        height: 50px;
                    }
                }
            }
        }

        .navSearch {
            padding-bottom: 3px;
            margin-right: 10px;

            input#searchBar {
                border-radius: 3px;
                border: none;
                height: 37px;
                padding: 5px;
                margin: 0;
            }
            button {
                height: 37px;
                width: 37px;
                border: none;
                top: 3px;
                position: relative;
            }
        }
    }
}
.normalNav {
    display: block;
}
.mobileNav {
    display: none;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .open {
        display: flex;
        width: auto; 

        svg {
            max-width: 30px;
            fill: white;
        }
        h3 {
            color: white;
            padding: 2px;
            padding-left: 5px;
        }
    }

    .navSearch {
        text-align: right;
        padding-bottom: 3px;
        min-width: 182px;

        input#searchBar {
            border-radius: 3px;
            border: none;
            height: 37px;
            padding: 5px;
            margin: 0;
        }
        button {
            height: 37px;
            width: 37px;
            border: none;
            top: 4px;
            position: relative;
        }
    }
}

// screen sizes
// $medium: 1007;
// $small: 641;

@media only screen and (max-width: $small) {
    .normalNav {
        display: none;
    }
    .mobileNav {
        display: grid;
    }
}